.header {
    visibility: hidden;
    background-color: #1a1f28;
    color: #c3cccc;
}

.activitybar {
    background-color: #1a1f28;
    height: 100%;
    flex-direction: column;
    float: left;
    margin: auto;
    visibility: collapse;

    width: 0px;
}

.explorer {
    background-color: #1a1f28;
    width: 0xp; /* 300 */
    flex-direction: column;
    height: 100%;
    float: left;
    color: #c3cccc;
    visibility: collapse;

}

.editor {
    background-color: #1a1f28;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.mid {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.statusbar {
    visibility: collapse;
    background-color: #1a1f28;
    color: white;
}

html,
body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}

.right {
    float: right;
}

.left {
    float: left;
}

p {
    padding: 4px;
    margin: 0;
    cursor: default;
}

p:hover {
    background-color: whitesmoke;
}

.codebox {
    overflow-y: scroll;
    flex-grow: 1;
    font-family: Consolas, monaco, monospace;
}

.editspace {
    position: absolute;
    background-color: white;
    z-index: 2;
    opacity: 0%;
    width: 50%;
    height: 100%;
    outline: none;
    white-space: pre;
    padding: 24px;
    border-radius: 24px;
}

.codespace {
    position: absolute;
    background-color: #212733;
    z-index: 1;
    color: whitesmoke;
    width: 50%;
    height: 100%;
    outline: none;
    white-space: pre;
    padding: 24px;
    border-radius: 24px;
}

img {
    width: 35px;
    padding: 15px;
}

* {
    box-sizing: border-box;
}

input,
input:focus {
    border: none;
}

input {
    margin: 0px;
    position: absolute;
    z-index: 1;
    width: 0px;
    display: block;
    outline: none;
    background-color: #212733;
    display: inline;
    border-left: transparent solid 2px;
    padding: 0;
    padding-top: 4px;
}

/*
.blinky {
    animation: blink-color 0.8s infinite;
    border-left: transparent solid 1px;
}

@keyframes blink-color {
    50% {
        border-color: aliceblue;
    }
}
*/
