body {
  background-color: whitesmoke;
  font-family: "verdana";
  margin: 0px;
}

.header {
  background-color: #0B3954;
  color: whitesmoke;
  margin: 0px;
  padding: 0px;
  height: 75px;
  align-content: center;
}

.content {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: whitesmoke;
  /* justify-content: center; */
}

.flex > div {
  background-color: white;
  margin: 10px;
  padding: 20px;
  width: 380px;
}

img {
  margin-left: 10px;
  border-bottom: black;
  border: 1px solid;
  border-radius: 10%;
}

img:active {
  background-color: whitesmoke;
}
